<h3 class="text-center">Open Layers Maps Demo</h3>
<!-- 
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->
<!-- 
<router-outlet></router-outlet>
<app-login></app-login> -->
<div class="flex-grow-1" *ngIf="mapOneShown">
<app-ol-map 
[center]="[lng,lat]"
[zoom]="14"
[setPointers]='showPointers'></app-ol-map>
</div>

<div class="flex-grow-1" *ngIf="!mapOneShown">
  <app-ol-map2></app-ol-map2>
</div>


<div style='margin: 0.5rem; display: flex;' >
  <button class="flex-grow-1 btn btn-danger mx-2" (click)="resetPointers()">Reset</button>
  <button class="flex-grow-1 btn btn-primary mx-2" (click)="addPointer()">Add Pointer</button>
  <button class="btn btn-secondary mx-2 flex-grow-1" (click)="mapOneShown=!mapOneShown;"> Show other map</button>
</div>